#report-window {
	position: fixed;
	border-radius: 15px;
	background-color: var(--color-primary);
	border: 1px solid #aaaaaa;
	width: 25vw;
	height: 70vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	gap: 40px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 40px 20px 40px 20px;
}