.search-options {
	position: fixed;
	z-index: 2;
	width: 30vw;
	height: 500px;
	padding: 0px 10px;
	background-color: var(--color-primary);
	animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}