.audio-player {
  flex-direction: column;
  position: relative;
  min-height: 150px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--color-primary);

  overflow: hidden;
}

.audio-player::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--accent-color1), transparent, transparent);
  width: 600px;
  height: 600px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.audio-player:hover::before {
  opacity: 1;
}

.audio-player::after {
  z-index: 0;
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  filter: brightness(120%);
  opacity: 70%;
  background-color: var(--color-primary);
}

#audio-title-label {
  z-index: 1;
  text-align: left;
  font-size: 24px;
  font-weight: bold;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.audio-actions {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  /* left: 85%; */
  gap: 5px;
  z-index: 1;
}

.audio-actions-button {
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}