#audiotrack-info-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-primary);
  padding: 20px;
  border: 1px solid #888888;
  border-radius: 20px;
  width: 60%;
  height: 70%;
  font-weight: bolder;
}

#audiotrack-info-close:hover {
  filter: brightness(75%);
}