/* .audio-player {
  display: flex;
  flex-direction: column;
  position: relative;
  
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(43, 43, 43, 1);

  overflow: hidden;
}

.audio-player::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(rgb(25, 132, 255), transparent, transparent);
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.audio-player:hover::before {
  opacity: 1;
}

.audio-player::after {
  z-index: 0;
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background-color: rgba(43, 43, 43, 0.9);
} */

.audio-playback-controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#waveform {
  z-index: 1;
  flex: 1 1 auto;
}

#audio-duration-label {
  z-index: 1;
  text-align: left;

  flex: 0 0 auto;
}

.controls {
  z-index: 1;
  position: relative;
}

.controls button {
  position: relative;
  margin: 1px;
  border: transparent;
  width: 50px;
  height: 50px;
  background-color: rgb(25, 132, 255);
  border-radius: 100px;
}

.controls button:hover {
  filter: brightness(75%);
}

.controls svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgb(255, 255, 255);
}