.playlist-selector {
	font-size: var(--font-size);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	width: 160%;
	background-color: var(--accent-color1);
}

.playlist-selector input[type=checkbox] {
	margin: 10px 0px;
	background-color: transparent;
}

.playlist-selector input[type=checkbox]:hover {
	filter: brightness(75%);
}