.topbar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;

	flex-shrink: 0;

	/* position: fixed; */
	top: 0;
	width: 100%;
	z-index: 2;
	
	height: 6vh;

  padding: 0 40px;
  box-sizing: border-box;
  overflow: visible;

	background-color: var(--color-primary);

	filter: drop-shadow(0px 10px 4px #00000072);
}