:root {
  --color-primary: #222222;
  --accent-color1: #0178ff;
  --accent-color2: #ffffff;
  --font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 0;
  background-color: var(--accent-color1);
  color: white;
  font-size: large;
  padding: 10px;
}

button:hover {
  filter: brightness(75%);
}

button:active {
  filter: brightness(110%);
}

input {
	padding: 10px 0px;

	outline-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--accent-color2);

	font-size: var(--font-size);
	color: var(--accent-color2);

	background-color: var(--color-primary);
}

input:focus {
	outline-color: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--accent-color1);
}